config
config/*
*/config
*/config/*

local_config
local_config/*
*/local_config
*/local_config/*

configs
configs/*
*/configs
*/configs/*

scripts-configs
scripts-configs/*
*/scripts-configs
*/scripts-configs/*

*.pyc

launchers
launchers/*
*/launchers
*/launchers/*

external_libs
external_libs/*
*/external_libs
*/external_libs/*

tmp
tmp/*
*/tmp
*/tmp/*

__old
__old/*
*/__old
*/__old/*
