config
config/*
*/config
*/config/*

local_config
local_config/*
*/local_config
*/local_config/*

configs
configs/*
*/configs
*/configs/*

scripts-configs
scripts-configs/*
*/scripts-configs
*/scripts-configs/*

configdump
configdump/*
*/configdump
*/configdump/*

.sync
.sync/*
*/.sync
*/.sync/*

.idea
.idea/*
*/.idea
*/.idea/*

*.pyc

launchers
launchers/*
*/launchers
*/launchers/*

external_libs
external_libs/*
*/external_libs
*/external_libs/*

tmp
tmp/*
*/tmp
*/tmp/*

__old
__old/*
*/__old
*/__old/*


*/herodb_builder/templates/_data/*
*/herodb_builder/templates/_data
herodb_builder/templates/_data/*
herodb_builder/templates/_data
