.postframe {
}
.linkdiv {
  padding:10px;
  min-width:900px;
  max-width:1000px;
  border:1px #000 solid;
  height:22px;
  position: relative;
}
.linkdivfront {
  position:absolute;
  left:20px;
}
.linkdivback {
  position:absolute;
  right:10px;
//  width:180px;
  top:0px;
  padding-top:5px;
  text-align: right;
//  border:1px #000 solid;
}

.linkdivtitle {
  position: relative;
  font-weight: bolder;
  left:30px;
}
.linkdivdate {
  font-style: oblique;
  font-size: 90%;
  margin-right: 20px;
//  left:720px;
}


.linkuser {
//  font-style: oblique;
  font-size: 95%;
}
.linkchar {
  font-size: 95%;
}

.linkchar:before {
}
.linkuser:before {
   content: " (";
}
.linkuser:after {
  content: " )";
}
