<html>
  <head>
    <script>
      var NAME = "INDEX";
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="posttemplate/js/setup.js"></script>
    <script src="posttemplate/js/buildposts.js"></script>
    <script src="posttemplate/js/setuplist.js"></script>

    <link href="posttemplate/css/posts.css" rel="stylesheet" type="text/css" />

    <script>
        var path = window.location.href;
        path = (path.match(/^(.*[\/\\])\s*/mg)).pop();

        path = path.split("/");
        var bit = path.pop();

        if( /file\s*[^;]*\bbrowser\s*$/.test(getEngineType(window.location.href)) ) {
            if(bit != "")  path.push(bit);
        }
        else if(engineMode === "node web browser") {
            path.push("static");
        }

        path = path.join("/");


        asyncBrowserLoad(path +"/postdata/js/"+NAME+".js",{},function(e) {
            buildPostList(JSONDATA, this, null);
        }.bind(document));
    </script>



  </head>
  <body>
    <div id="postdiv">
    </div>
  </body>
</html>
